/*--------------------------------------------------------------
Library
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Base
--------------------------------------------------------------*/
.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 32px;
  padding-right: 32px; }
  .container--wide {
    max-width: 1400px; }
  @media (min-width: 800px) {
    .container--no-pad {
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 1200px) {
    .container--no-pad {
      padding-left: 0;
      padding-right: 0;
      max-width: calc(1200px - 64px * 2); } }
  @media (min-width: 800px) {
    .container {
      padding-left: 32px;
      padding-right: 32px; } }
  @media (min-width: 1200px) {
    .container {
      padding-left: 64px;
      padding-right: 64px; } }

.grid {
  max-width: 1200px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 32px;
  padding-right: 32px; }
  .grid--left-margin-only {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: none; }
  .grid--wide {
    max-width: 1400px; }
  .grid__col {
    box-sizing: border-box;
    margin-right: 0px; }
    .grid__col:last-child {
      margin-right: 0; }
  @media (max-width: 800px) {
    .grid {
      -ms-flex-direction: column;
          flex-direction: column; }
      .grid--break-reverse {
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; } }
  @media (min-width: 800px) {
    .grid {
      padding-left: 32px;
      padding-right: 32px; } }
  @media (min-width: 1200px) {
    .grid {
      padding-left: 64px;
      padding-right: 64px; } }

.grid__col-1 {
  width: calc( 8.33333% - 0px + (0px / 12 * 1)); }
  @media (max-width: 800px) {
    .grid__col-1 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-1 {
  margin-left: 8.33333%; }

.grid__col-2 {
  width: calc( 16.66667% - 0px + (0px / 12 * 2)); }
  @media (max-width: 800px) {
    .grid__col-2 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-2 {
  margin-left: 16.66667%; }

.grid__col-3 {
  width: calc( 25% - 0px + (0px / 12 * 3)); }
  @media (max-width: 800px) {
    .grid__col-3 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-3 {
  margin-left: 25%; }

.grid__col-4 {
  width: calc( 33.33333% - 0px + (0px / 12 * 4)); }
  @media (max-width: 800px) {
    .grid__col-4 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-4 {
  margin-left: 33.33333%; }

.grid__col-5 {
  width: calc( 41.66667% - 0px + (0px / 12 * 5)); }
  @media (max-width: 800px) {
    .grid__col-5 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-5 {
  margin-left: 41.66667%; }

.grid__col-6 {
  width: calc( 50% - 0px + (0px / 12 * 6)); }
  @media (max-width: 800px) {
    .grid__col-6 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-6 {
  margin-left: 50%; }

.grid__col-7 {
  width: calc( 58.33333% - 0px + (0px / 12 * 7)); }
  @media (max-width: 800px) {
    .grid__col-7 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-7 {
  margin-left: 58.33333%; }

.grid__col-8 {
  width: calc( 66.66667% - 0px + (0px / 12 * 8)); }
  @media (max-width: 800px) {
    .grid__col-8 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-8 {
  margin-left: 66.66667%; }

.grid__col-9 {
  width: calc( 75% - 0px + (0px / 12 * 9)); }
  @media (max-width: 800px) {
    .grid__col-9 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-9 {
  margin-left: 75%; }

.grid__col-10 {
  width: calc( 83.33333% - 0px + (0px / 12 * 10)); }
  @media (max-width: 800px) {
    .grid__col-10 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-10 {
  margin-left: 83.33333%; }

.grid__col-11 {
  width: calc( 91.66667% - 0px + (0px / 12 * 11)); }
  @media (max-width: 800px) {
    .grid__col-11 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-11 {
  margin-left: 91.66667%; }

.grid__col-12 {
  width: calc( 100% - 0px + (0px / 12 * 12)); }
  @media (max-width: 800px) {
    .grid__col-12 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.grid__offset-12 {
  margin-left: 100%; }

.padding--small {
  padding-top: 24px; }

.padding--medium {
  padding-top: 84px; }
  @media (max-width: 800px) {
    .padding--medium {
      padding-top: 64px; } }

.padding--large {
  padding-top: 84px; }
  @media (max-width: 800px) {
    .padding--large {
      padding-top: 64px; } }

.margin--small {
  margin-top: 24px;
  margin-bottom: 24px; }

.margin--medium {
  margin-top: 64px;
  margin-bottom: 64px; }

.margin--large {
  margin-top: 84px;
  margin-bottom: 84px; }

.spacing--small {
  height: 24px; }

.spacing--medium {
  height: 64px; }

.spacing--large {
  height: 84px; }

.spacing--xlarge {
  height: 168px; }

/* =Typographical Mixins/Functions
-------------------------------------------------------------- */
html {
  font-family: "Helvetica", font-serif;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  float: none;
  margin: 0; }

h1,
.h1 {
  font-size: 3.25rem;
  font-weight: 500;
  letter-spacing: 1px; }

h2,
.h2 {
  font-size: 2.25rem;
  font-weight: 500; }
  @media (max-width: 800px) {
    h2,
    .h2 {
      font-size: 1.8rem; } }

h3,
.h3 {
  font-size: 1.4rem;
  font-weight: 500; }

h4,
.h4 {
  font-size: 1.1rem;
  font-weight: 300; }

h5,
.h5 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px; }

h6,
.h6 {
  font-size: 0.8rem;
  font-weight: 300; }

p,
i,
strong {
  font-size: 1rem;
  font-weight: 300;
  line-height: 25px; }

strong,
b {
  font-weight: 600; }

a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 400ms; }

li {
  font-weight: 300;
  list-style: none;
  font-size: 1rem; }

ul {
  padding: 0; }

form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

label {
  font-size: 1rem;
  font-weight: 300; }

input,
input:-ms-input-placeholder,
textarea,
textarea:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 28px; }

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 28px; }

textarea,
input[type="text"] {
  border: 1px solid #000000;
  padding: 5px 0px; }

textarea:focus,
input:focus {
  border: 1px solid #000000; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  min-height: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*:focus {
  outline: none; }

body {
  margin: 0px;
  padding: 0px; }
  body.no-scroll {
    height: 100vh;
    overflow: hidden; }

/*--------------------------------------------------------------
Component
--------------------------------------------------------------*/

/*# sourceMappingURL=../maps/style.css.map */
